target/
.idea/
.vscode/
target/classes/hu/unideb/inf/FXMLOrarendSceneController.class
target/classes/hu/unideb/inf/AfterRegisterSceneController.class
target/classes/hu/unideb/inf/MainApp.class
target/classes/hu/unideb/inf/RegisterSceneController.class
target/classes/hu/unideb/inf/MainApp.class
target/classes/hu/unideb/inf/MainApp.class
target/classes/hu/unideb/inf/AfterRegisterSceneController.class
target/classes/hu/unideb/inf/FXMLOrarendSceneController.class
target/classes/hu/unideb/inf/MainApp.class
target/classes/hu/unideb/inf/RegisterSceneController.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
